.git
.gitignore
node_modules
vendor
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.md
.github
.phpunit.cache
biome.json
docker-compose*.yml
install.sh
